@model Prestar.Models.Complaint

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tem a certeza que pretende apagar esta denúncia?</h1>
<div>
    <h4>Denúncia</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComplaintType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComplaintType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ComplaintID" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
