@model Prestar.Models.Service

@{
    ViewData["Title"] = "Desativar Serviço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Services.css" />
</head>

<div id="title">
    <h4 class="mb-0 text-muted">Desativar Serviço</h4>
</div>

<h3 class="text-center">Tem a certeza que pretende desativar este serviço?</h3>
<div>
    <hr />
    <dl class="row align-items-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserID):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCategoryID):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceCategory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Illustration):
        </dt>
        <dd class="col-sm-10">
            @if (Model.Illustration != null)
            {
                <img id="Illustration" style="width:350px;height:350px; object-fit:scale-down" src="data:image/*;base64,@(Convert.ToBase64String(Model.Illustration))">
            }
            else
            {
                <img id="Illustration" style="width:350px;height:350px; object-fit:scale-down" src="~/images/Images-rafiki.png">
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
    @if (ViewBag.HasActiveRequisitions)
    {
        <div class="alert alert-danger" role="alert">
            <h2>Atenção!</h2>
            <hr />
            <p class="mb-0">Termine todos os seus serviços antes de poder desativar a conta!</p>
        </div>
        <a class="btn btn-normal" id="btn-service" asp-action="UserServices">Voltar Atrás</a>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <h3>Atenção!</h3>
            <hr />
            <p>
                Esta ação pode ser revertida ao clicar no botão Reativar que se encontra na tabela dos seus serviços.
            </p>
            <form asp-action="DeactivateConfirmed" asp-route-id="@Model.ServiceID">
                <input type="submit" value="Desativar" class="btn btn-danger" id="btn-service" />
            </form>
        </div>
        <a class="btn btn-normal" id="btn-service" asp-action="UserServices">Voltar Atrás</a>
    }
</div>
