@model Prestar.Models.Gamification

@{
    ViewData["Title"] = "Apagar Configuração";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Gamification.css" />
</head>

<div id="title">
    <h4 class="text-muted mt-0" id="title-details">Apagar Configuração</h4>

</div>

<div class="alert alert-danger text-center" role="alert">
    <h3>Tem a certeza que pretende apagar?</h3>
    <hr />
    <dl class="col">
        <dt>
            @Html.DisplayNameFor(model => model.GamificationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GamificationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PointsPerComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointsPerComment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PointsPerEvaluation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointsPerEvaluation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PointsPerService)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointsPerService)
        </dd>

    </dl>
    @if (ViewBag.GamificationsCount == 1)
    {
        <div class="alert alert-danger" role="alert" style="align-self: center; text-align: center;">            
                <p><b>Não é possivel ter menos do que uma configuração em sistema!</b></p>            
        </div>
        <form asp-action="Delete" id="gamification-options">
            <input type="hidden" asp-for="GamificationID" />
            <input type="submit" value="Apagar" class="btn btn-danger" disabled />
        </form>
    }
    else
    {
        <form asp-action="Delete" id="gamification-options">
            <input type="hidden" asp-for="GamificationID" />
            <input type="submit" value="Apagar" class="btn btn-danger" />
        </form>
    }

</div>
<div class="text-center" id="gamification-options">
    <a asp-action="Index" class="btn btn-normal">Voltar Atrás</a>
</div>