@model Prestar.Models.TermsAndConditionsSection

@{
    ViewData["Title"] = "Remover Secção";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Norm_Manual.css" />
</head>

<div id="title">
    <h4 class="text-muted mb-5" style="font-size:2.6em;">Remover Secção</h4>
</div>

<h3 class="text-center mb-4">Tem a certeza que pretende remover esta secção?</h3>
<div class="alert alert-danger" role="alert">
    <h4>@Model.Title</h4>
    <hr />
    <br />
    <p class="text-justify" style="white-space: pre-wrap;">@Model.Content</p>
    <br />
    <small>Última Atualização: @Model.LastUpdate</small>
    <br />
    <small>Feita por: @Model.User.FirstName @Model.User.LastName</small>
    <br />
    <br />
    <form asp-action="Delete" id="btn-terms-conditions">
        <input type="hidden" asp-for="TermsAndConditionsSectionID" />
        <input type="submit" value="Remover" class="btn btn-danger" />
        <a class="btn btn-normal" asp-action="Index">Cancelar</a>
    </form>
</div>
